html {
  margin: 0 0 0 0;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

a.logo {
  background: url(../img/coffee.svg) no-repeat 0 0 / cover transparent;
  display: block;
  height: 50px;
  width: 50px;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #432818;
}

.li-mapa {
  float: right;
}

.cafe-img,
.comida-img {
  width: 150px;
  height: 115px;
}

.header-index {
  position: sticky;
  top: 0;
}

.header-index,
.footer-menu,
.footer,
.footer-ubicacion {
  background-color: #c08552;
}

.footer,
.footer-ubicacion,
.footer-menu,
.ul-header {
  overflow: hidden;
}

.footer {
  margin-left: 20;
}

.titulo-menu-comida,
.titulo-menu-cafe {
  text-align: center;
}

.mapa {
  height: 70vh;
}

.cafes,
.comida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
}

.border-cafes,
.border-comida {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: #111;
  border-style: solid;
  border-width: 1px;
}

.main,
.main-menu,
.main-ubicacion {
  background-color: #f3e9dc;
  padding-top: 5px;
}

html {
  margin: -8px;
}

.copyright {
  text-align: center;
}

.footer-menu {
  vertical-align: top;
  margin-top: 23px;
}

.footer {
  text-decoration: none;
}

/* .footer-ubicacion {
  vertical-align: top;
  margin-top: 22px;
} */

.imagen-principal {
  width: 25%;
  margin: 30px 30px 30px 0;
}

.texto-principal {
  display: inline-block;
}

.footer {
  padding-left: 20px;
}

a {
  color: #f3e9dc;
}
