html {
  margin: 0 0 0 0;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

a.logo {
  background: url(../img/coffee.svg) no-repeat 0 0 / cover transparent;
  display: block;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav {
  background-color: #c08552;
}

.cafe-img,
.comida-img {
  width: 150px;
  height: 115px;
}

header {
  position: sticky;
  top: 0;
}

header,
footer {
  background-color: #c08552;
}

footer,
.ul-header {
  overflow: hidden;
}

.titulo-menu-comida,
.titulo-menu-cafe {
  text-align: center;
}

.mapa {
  height: 70vh;
}

.cafes,
.comida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
}

.border-cafes,
.border-comida {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: #111;
  border-style: solid;
  border-width: 1px;
}

main {
  background-color: #f3e9dc;
  padding-top: 5px;
}

html {
  margin: -8px;
}

.copyright {
  text-align: center;
}

footer {
  text-decoration: none;
  padding-left: 20px;
  margin-left: 20;
}

.imagen-principal {
  width: 25%;
  margin: 30px 30px 30px 0;
}

.texto-principal {
  display: inline-block;
}

a {
  color: #f3e9dc;
}

li {
  margin-left: 5px;
}

.li-footer {
  display: inline-block;
}

.facebook {
  background: url(../img/facebook.svg) no-repeat 0 0 / cover transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.instagram {
  background: url(../img/instagram.svg) no-repeat 0 0 / cover transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.instagram:hover {
  cursor: pointer;
}

.facebook:hover {
  cursor: pointer;
}

ul {
  padding: 0 0 0 0;
  list-style-type: none;
}

textarea {
  resize: none;
}

a:hover {
  text-shadow: 1px 1px maroon;
}

.cafe-img:hover,
.comida-img:hover {
  transition: 0.3s;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}
