.img-menu {
  display: inline-block;
  height: 115px;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.titulo-menu {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
}

.descripcion {
  text-align: left;
}

.border-menu {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 5px 10px;
  border: $border-color solid 1px;
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style-type: none;
}