.mapa {
  height: 70vh;
}
.faq {
  list-style-type: circle;
}

textarea {
  resize: none;
}

.input-submit {
  background-color: #c08552;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  &:hover {
    cursor: pointer;
    color: white;
    opacity: 0.7;
    transition: 0.3s;
  }
}

.h1-ubicacion {
  margin-bottom: 0;
}